<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medication-planner" href="/tabs/medication-planner">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/tabs/historial">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>